数据集/图文不一致/mmdataset-eval.zip filter=lfs diff=lfs merge=lfs -text
提示词-最优版/试卷审校运行-阿里云qwen38-转换PDF-20260917/runs/aliyun-qwen38-27b-converted-pdf2-20260917/tasks/180题档_实际190题_2019昆明理工大学628西医综合A卷.pdf/debug.json filter=lfs diff=lfs merge=lfs -text
提示词-最优版/试卷审校运行-阿里云qwen38-转换PDF-20260917/runs/aliyun-qwen38-27b-converted-pdf2-20260917/runtime-data/app.db filter=lfs diff=lfs merge=lfs -text
